{% if site.disqus_shortname %}
<!-- 多说评论框 start -->
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
var gitalk = new Gitalk({
  clientID: '6000dbcb4215de37a0d4',
  clientSecret: '93f2255de83b2f9c7a9dd0d1932da7f7176dc5cd',
  repo: 'gitalk-comments',
  owner: 'cn6u9',
  admin: ['cn6u9'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
<!-- 多说公共JS代码 end -->
{% endif %}

{% if site.disqus_shortname %}
<div id="gitalk-container"></div>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
{% endif %}
